body {
  background-image: url("./images/headphones_hero_1.jpg");
}

.container nav {
  display: flex;
  justify-content: space-around;
}

.container nav ul {
  list-style-type: none;
}

.header-nav a {
  color: aliceblue;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
}